*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    text-align: center;
    line-height: 2.1;
}

.hero img{
       border-radius:50%;
}

<<<<<<< HEAD
}

@media screen (max-width: 768px)[
    body[background-color: green;]
}

.grid{
    display: flex;
    justify-content: center;
   /* justify-content: space-around; */
   gap:15px;
   flex-wrap: wrap;
}

.grid div{
    background-color: cornflowerblue;
    border-radius: 50px;
    padding: 10px;
    min-width: 80px;
    
}
=======
.accent{
    color:darkgreen;
}

#skills{
   border:2px solid black;
    padding:10px;
    margin:10px;
    background-color: green;
}

>>>>>>> bf4a98180411887d4552e49eb533fb9a374d6734
